.bar {
    background-color: #1392c4;
}

/*html, body{
    background-color: #16a5ba;
}*/
.mainbg {
    background-color: #16a5ba;
}

.containerbg {
    background-image: url('../assets/imgs/electricista1.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 100px;
    height: 450px;
    background-color: #16a5ba;
}

.titulosearch {
    color: white;
}

.containertext {
    background-color: #ffffff;
    height: 550px;
}

.containerwhite {
    background-color: #16a5ba;
    height: 600px;
    margin-top: 95px;
}

.contenttext {
    height: 500px;
}

.containercolor {
    background-color: #121339;
    height: 550px;
}

.containerfinal {
    margin-top: -55px;
    background-color: #121339;
    height: 350px;
}

.imgservicio {
    width: 450px;
    margin: 30px;
}

.font {
    font-family: 'Oswald', sans-serif;
}

.formbusqueda {
    margin-top: 80px;
}

.notrounded {
    border-radius: 0px !important;
}

.divinclinado {
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(4deg);
}

.divinclinado2 {
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(-4deg);
}

.divtextinclinado {
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.contents {
    margin-top: 40px;
}

.imgcircle {
    width: 50%;
}

.icontext {
    color: #16a5ba;
}

.obligatorio {
    color: red;
}

.textopregunta {
    font-size: 12px;
}

.justifytext {
    text-align: justify;
}

.blankspace50 {
    height: 50px;
}

.height480 {
    height: 480px !important;
}

.loadpage {
    height: 480px !important;
}

.barwidth {
    height: 100vh;
}

.img {
    height: 200px;
}
.img2{
    height: 100px;
}
.info {
    height: 100px;
}

.imgshadow {
    background-color: #0000008a;
    width: 100%;
    height: 200px;
}

.hover:hover {
    cursor: pointer;
}

.btn-gradient {
    background: rgb(0, 88, 194);
    background: linear-gradient(90deg, rgba(0, 88, 194, 1) 0%, rgba(0, 154, 185, 1) 54%, rgba(0, 145, 126, 1) 100%);
    color: white;
}

.btn-gradient:hover {
    background: rgb(0, 94, 207);
    background: linear-gradient(90deg, rgba(0, 94, 207, 1) 0%, rgba(0, 173, 208, 1) 54%, rgba(0, 185, 161, 1) 100%);
    transition: .3s !important;
    color: white;
}
.servicescontainer{
    height: 550px;
    overflow-y: scroll;
}

.servicescontainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

.servicescontainer::-webkit-scrollbar:vertical {
    width:10px;
}

.servicescontainer::-webkit-scrollbar-button:increment,.servicescontainer::-webkit-scrollbar-button {
    display: none;
} 

.servicescontainer::-webkit-scrollbar:horizontal {
    height: 10px;
}

.servicescontainer::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.servicescontainer::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.navbartopmain{
    background-color: #1392c4;
}
.headertoprofile{
    background-color: #4bccff;
    height: 200px;
}
.minwidth{
    display: none;
}
.fullwidth{
    display: block;
}
.roundedimg{
    border-radius: 50%;
    right: 40px;
    position: absolute;
    top: 40px;
    border: 3px #00000075 solid;
    object-fit: cover;
    width: 250px;
    height: 250px;
}
.roundedimg2{
    border-radius: 50%;
    object-fit: cover;
    width: 350px;
    height: 250px;
}
.imgcover{
    object-fit: cover;
}
.backgrounds{
    background-color: #4bccff;
}
.divbackwhite{
    background-color: white;
}
@media (max-width: 1330px) {
    .fullwidth{
        display: none;
    }
    .minwidth{
        display: block;
    }
    .roundedimg{
        border-radius: 50%;
        right: 40px;
        position: absolute;
        top: 90px;
        border: 3px #00000075 solid;
        object-fit: cover;
        width: 250px;
        height: 250px;
    }
    .headertoprofile{
        margin-top: -20px;
    }
  }
@media (max-width: 992px){
    .headertoprofile{
        display: none;
    }
    .divinclinado{
        display: none;
    }
    .containerwhite{
        margin-bottom: 220px;
    }
}
