.bar{
    background-color: #1392c4;
}
/*html, body{
    background-color: #16a5ba;
}*/
.mainbg{
    background-color: #16a5ba;
}
.containerbg{
    background-image: url('../assets/imgs/electricista1.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 100px;
    height: 450px;
    background-color: #16a5ba;
}
.titulosearch{
    color: white;
}
.containertext{
    background-color: #ffffff;
    height: 550px;
}
.containerwhite{
    background-color: #16a5ba;
    height: 600px;
    margin-top: 95px;
}
.contenttext{
    height: 500px;
}
.containercolor{
    background-color: #121339;
    height: 550px;
}
.containerfinal{
    margin-top: -55px;
    background-color: #121339;
    height: 350px;
}
.logincontainer{
    height: 550px;
}
.imgservicio{
    width: 450px;
    margin: 30px;
}
.font{
    font-family: 'Oswald', sans-serif;
}
.formbusqueda{
    margin-top: 80px;
}

.notrounded{
    border-radius: 0px !important;
}
.divinclinado{
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(4deg);
}
.divinclinado2{
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(-4deg);
}

.divtextinclinado{
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.contents{
    margin-top: 40px;
}
.imgcircle{
    width: 50%;
}

.icontext{
    color: #16a5ba;
}
.obligatorio{
    color: red;
}

.textopregunta{
    font-size: 12px;
}
.justifytext{
    text-align: justify;
}
.blankspace50{
    height: 50px;
}
.height480{
    height: 480px !important;
}
.loadpage{
    height: 480px !important;
}